:root {
    --bg: red;
    --cl: blue;
    --zero: 0;
    --vert: 40px;
    --hor: 20px;
    --bor: 2px solid var(--cl);
}

.ta-ai {
    background: var(--bg);
    color: var(--cl);
    margin: var(--zero);
    padding: var(--zero);
    height: var(--vert);
    width: var(--hor);
}

.carambolas {
    border: var(--bor);
}
